@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
h1,h2,h3,h4,h5, p{
  font-family: 'Poppins';
}
body{
  scroll-snap-type: y mandatory;

}
.special-text{
  color: #9970D5;
}
